# Terraform
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.zip
*.log

# General
.DS_Store
.idea/
.vscode/

# Additional
*.csv
*.xlsx
!sample_data/mock_data/mock_data.csv
!logs/example_log.log

#Non functional scripts
scripts/load_data_batches.py
scripts/load_data.py